{{> nav}}
<main class="admin__main">
  {{> subnav}}
  <div class="dashboard__item">
    <div class="card bg-dark text-white">
      <strong style="text-align: center;">Agregar pedidos</strong>
      <table class="table table-dark" style="font-size:large">
        <thead>
          <tr>
            <th scope="col">Nombre de usuario</th>
            <th scope="col">Total</th>
            <th scope="col">Ver pedido</th>
          </tr>
        </thead>
        <tbody>
          {{#if esencial.pedidos.pendientes}}
          {{#each esencial.pedidos.pendientes}}
          <tr>
            <th scope="row">{{producto}}</th>
            <td>{{precio}}</td>
            <td><button type="button" data-toggle="modal" data-target="#{{id}}" class="btn btn-success">Ver
                pedido</button>
            </td>
          </tr>
          <div class="modal fade " id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog " role="document">
              <div class="modal-content bg-dark">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Pedido Completo</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body ">
                  <h3>Productos</h3>
                  <ul class="list-group ">
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
                      <h5>{{producto}}: {{precio}} </h5>
                    </li>
                  </ul>

                  <h5>Total: <span>$0000 </span></h5>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success">Aceptar</button>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
          {{else}}
          <h3>not request jet</h3>
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>

</main>

{{> footer}}